h1 {
    color: black;
    text-align: center;
    font-style: normal;
    font-size: x-large;
    font-weight: bold;
}
h2 {
    text-align: center;
    color: black;
    font-style: italic;

}
img {
    width: 200px;
    height: 175px;
    position: relative;
    top: -130px;
    left: 20px;
    padding: 0px;
    
}
.h5{
    text-align: center;
    color: black;
}
.header {
    border: 20px black;
    padding: 20px;
    padding-bottom: 0px;
    background-color: gray;
    margin: 20px;
    margin-bottom: 0px;
    
}
.me {
    border: 40px black;
    padding: 20px;
    background-color:lightgrey;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    float: left;

}
.hobby {
    font-style: italic;
    color: chocolate;
}
.line {
    font-style: italic;

}
.topic {
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
}
.project {
    border: 40px black;
    padding: 20px;
    background-color: lightsteelblue;
    margin: 20px;
    margin-top: 0px;
    float: right;
    
}
.project a {
    color: darkgreen;
}
.columns {
    width: 700px;
}
body {
    font-family: sans-serif;
}
